/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

/* styles.css */
body, html {
  margin: 0;
  height: 100vh;
  background-image: url('/fondo.png');
  background-size: cover;         /* Hace que cubra toda la pantalla */
  background-position: center;    /* Centra la imagen */
  background-attachment: fixed;   /* Hace que quede fija al hacer scroll */
  background-repeat: no-repeat;   /* Evita que se repita */
  font-family: 'Arial', sans-serif;
}
