.card {
    background-color: white;
    // margin-top: 300px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;


    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.card-body {
    width: 100%;
}

.seleccionables {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #afb0b1;
  margin: 15px 0;
}

.preguntas{
    margin: 20px;
    width: 50%;
}

.label-respuestas{
margin-top: 10px;
}